./loss-microservice/src/main/generated/*
.idea/*
target/*
loss-microservice/target/*
./microservice-common/target/*
loss-microservice/src/db/
loss-microservice/src/main/generated/
microservice-common/target/

