./loss-microservice/src/main/generated/*
.idea/*
target/*
loss-microservice/target/*
./microservice-common/target/*
loss-microservice/src/db/
loss-microservice/src/main/generated/
microservice-common/target/
.project
.settings/
loss-microservice/.classpath
loss-microservice/.project
loss-microservice/.settings/
loss-microservice/db/
microservice-common/.classpath
microservice-common/.project
microservice-common/.settings/

